@import '../../styles/config.scss';

.home-container {
	@include FlexCenter;
	margin-bottom: 3rem;

	.home-padding-container {
		min-width: 100%;
		
		.home-pargraph-container {
			display: flex;
			flex-direction: row;
			// justify-content: space-between;
			padding: 0 5rem;
			box-sizing: border-box;

			@media screen and (max-width: $mobileSize) {
				flex-direction: column;
			}

			p {
				line-height: 1.5rem;
				padding: 1rem;
				box-sizing: border-box;

				@media screen and (max-width: $mobileSize) {
					padding: 0;
				}
			}
		}

		h2 {
			font-size: 1.5rem;
			padding: 0 5rem;
			box-sizing: border-box;
		}
	}
}