@import '../../styles/config.scss';

.brands-container {
	background: gray;
	@include FlexCenter;
	height: 5rem;

	img {

		width: auto;
		height: 1.5rem;
		margin: 0 1rem;
		// @include DBorder;
	}

	@media screen and (max-width: 1000px) {
		display: none;
	}
}

.about-container {
	@include FlexCenter;
	margin-bottom: 3rem;

	.about-padding-container {
		min-width: 80%;
		// @include DBorder;
		
		.about-pargraph-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
			p {
				width: 46%;
				line-height: 1.5rem;
			}
		}

		h2 {
			font-size: 2rem;
		}
	}
}