@import '../../styles/config.scss';

.contact-padding-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.contact-content-container {
	width: 60%;
	display: flex;
	flex-direction: row;

	@media screen and (max-width: $mobileSize) {
		flex-direction: column;
		width: 90%;
	}

	#contact-col {
		width: 100%;
		padding: 2rem;
		box-sizing: border-box;
		
		p {
			overflow-wrap: break-word;
		}


		#bold {
			font-weight: 700;
			font-size: 1.1rem;
		}

		#cont-head {
			font-weight: 800;
			font-size: 2rem;
			margin-top: 0;
		}
	}

	#contact-form {
		width: 100%;
		padding: 2rem;
		box-sizing: border-box;
		// @include DBorder;
		display: flex;
		flex-direction: column;

		textarea {
			height: 1.2rem;
			resize: none;
			border-radius: 1rem;
			padding: 1rem;
			font-family: Arial, Helvetica, sans-serif;
		    outline: none;
		}

		#large-box {
			height: 10rem;
		}

		button {
			margin-top: 1rem;
			background-color: $primaryColor;
			border: none;
			border-radius: 4em;
			color: white;
			font-size: 1.2em;
			height: 3rem;
			width: 8rem;
		}

		span {
			margin-top: 1rem;
		}
	}
}