@import '../../styles/config.scss';

.banner-container {
	width: 100%;
	// @include DBorder;
	height: 500px;
	@include BackgroundImageCovered('../../images/BannerImages/Banner1.png');

	h1 {
		font-size: 5rem;
	}
}

.brands-container {
	background: gray;
	@include FlexCenter;
	height: 5rem;

	img {
		width: auto;
		height: 1.5rem;
		margin: 0 1rem;
		// @include DBorder;
	}

	@media screen and (max-width: 1000px) {
		display: none;
	}
}

.about-container {
	@include FlexCenter;
	margin-bottom: 3rem;
	flex-direction: column;
	// @include DBorder;

	h2 {
		margin-top: 2rem;
		width: 100%;
	}

	.about-padding-container {
		width: 50%;
		
		.about-pargraph-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
			p {
				width: 46%;
				line-height: 1.5rem;
			}
		}
	}
}

.brand-info-container {
	@include FlexCenter;

	.brand-grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		// @include DBorder;
		width: 80%;

		@media screen and (max-width: 1000px) {
			grid-template-columns: repeat(1, 1fr);
		}

		.brand-card {
			// width: 100%;
			// @include DBorder;
			padding: 2rem;
			
			.brand-card-container {
				width: 25rem;
				border-radius: 25rem;
				background-color: lightgray;
				height: 25rem;
				@include FlexCenter;
				flex-direction: column;

				img {
					border-radius: 1.5rem;
					width: 50%;
					height: auto;
					margin-bottom: 0.8rem;
				}

				span {
					font-weight: 700;
					color: white;
					font-size: 1.6rem;
				}
			}

		}


	}
}