.stockists-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stockists-info-container .stockists-state-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  padding: 0.6rem 0.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .stockists-info-container .stockists-state-container {
    width: 100%;
  }
}

.stockists-info-container .stockists-state-container button {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  font-size: 1.2em;
}

.stockists-info-container .stockists-state-container button:focus {
  outline: none;
}

.stockists-info-container .stockists-state-container #stockist-button-selected {
  color: white;
  background: darkgray;
}

.stockists-info-container .stockists-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0.3rem 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .stockists-info-container .stockists-grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 98%;
  }
}

.stockists-info-container .stockists-grid-container .stockists-card-padding-container {
  padding: 0.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.stockists-info-container .stockists-grid-container .stockists-card-padding-container .stockists-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
  background-color: lightgray;
  padding: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stockists-info-container .stockists-grid-container .stockists-card-padding-container .stockists-card img {
  border-radius: 1.5rem;
  width: 25rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.8rem;
  z-index: 3;
}

@media screen and (max-width: 1000px) {
  .stockists-info-container .stockists-grid-container .stockists-card-padding-container .stockists-card img {
    width: 15rem;
    height: 15rem;
  }
}

.stockists-info-container .stockists-grid-container .stockists-card-padding-container .stockists-card p {
  font-weight: 700;
  color: black;
  font-size: 1.2rem;
  overflow-wrap: anywhere;
  text-overflow: clip;
}
/*# sourceMappingURL=index.css.map */