@import '../../styles/config.scss';

.stockists-info-container {
	@include FlexCenter;
	flex-direction: column;

	.stockists-state-container {
		width: 80%;
		@include FlexCenter;
		height: 5rem;
		padding: 0.6rem 0.3rem;
		box-sizing: border-box;

		@media screen and (max-width: $mobileSize) {
			width: 100%;
		}

		button {
			height: 100%;
			width: 100%;
			background: transparent;
			border: none;
			font-size: 1.2em;
		}
		
		button:focus {
			outline: none;
		}
		
		#stockist-button-selected {
			color: white;
			background: darkgray;
		}
	}

	.stockists-grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 90%;
		margin: 0.3rem 0;
		position: relative;
		box-sizing: border-box;
		// @include DBorder;

		@media screen and (max-width: $mobileSize) {
			grid-template-columns: repeat(1, 1fr);
			width: 98%;
		}

		.stockists-card-padding-container{
			padding: 0.3rem;
			box-sizing: border-box;
			width: 100%;

			.stockists-card {
				display: flex;
				flex-direction: column;
				justify-content: center;
				border-right: 1px solid lightgray;
				border-left: 1px solid lightgray;
				padding: 2em;
				box-sizing: border-box;
				height: 20rem;
				
				h4 {
					font-size: 2rem;
					font-weight: 800;
					margin: 0;
					color: rgb(34, 34, 34);
				}

				p {
					margin: 0;
					font-weight: 700;
					color: black;
					font-size: 1.2rem;
					overflow-wrap: anywhere;
					text-overflow: clip;
					margin-top: 1rem;
					font-weight: 500;
					cursor: pointer;
				}

				#stockist-address {
					font-size: 0.8rem;
					font-weight: 500;
					cursor:initial;
				}

				button {
					background-color: $primaryColor;
					border: none;
					height: 3rem;
					color: white;
					font-size: 2rem;
					@include FlexCenter;
					border-radius: 1rem;
					transition: transform 100ms ease-out;
					width: 15rem;
					margin-top: 3rem;
					align-self: center;
					cursor: pointer;

					&:hover {
						transform:  scale(1.1);
					}
				}
			}		
		}
	}
}