@import '../../styles/config.scss';

.about-banner-container {
	width: 100%;
	// @include DBorder;
	height: 500px;
	@include BackgroundImageCovered('../../images/Awardrv.jpg');
	@include FlexCenter;

	h1 {
		color: white;
		margin: 0;
		font-size: 5rem;
	}
}

.brands-container {
	background: gray;
	@include FlexCenter;
	height: 5rem;

	img {
		width: auto;
		height: 1.5rem;
		margin: 0 1rem;
		// @include DBorder;
	}

	@media screen and (max-width: 1000px) {
		display: none;
	}
}

.about-container {
	@include FlexCenter;
	margin-bottom: 3rem;
	flex-direction: column;
	// @include DBorder;

	h2 {
		margin-top: 2rem;
		width: 100%;
	}

	.about-padding-container {
		width: 50%;
		
		.about-pargraph-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
			p {
				width: 46%;
				line-height: 1.5rem;
			}
		}
	}
}