
// VARIABLES

$primaryColor : rgb(248, 161, 0);
$mobileSize : 1000px;
$tabletSize : 1300px;
// PRESETS

@mixin FlexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin DBorder {
	border: 1px solid red;
}

@mixin BackgroundImageCovered ($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}	