.header-container {
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container .arva-logo {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 1em;
}

@media screen and (max-width: 1000px) {
  .header-container .arva-logo {
    width: 13rem;
  }
}

.header-container .arva-logo img {
  width: 90%;
  height: auto;
}

.header-container .nav-hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20rem;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 1000px) {
  .header-container .nav-hamburger-container {
    display: none;
  }
}

.header-container .right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .header-container .right-container {
    display: none;
  }
}

.header-container .right-container #circleDivider {
  width: 40rem;
  height: 40rem;
  border-top-left-radius: 80rem;
  border-bottom-left-radius: 80rem;
  background: #f8a100;
  position: absolute;
  z-index: -3;
}

.header-container .right-container #content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5rem;
}

.header-container .right-container #content-wrapper button {
  background: none;
  border: none;
  font-size: 1rem;
}

.header-container .right-container #content-wrapper #contact-button:hover {
  background: lightgray;
}

.header-container .right-container #content-wrapper #contact-button {
  background: white;
  height: 50px;
  width: 150px;
  border-radius: 50px;
}

.nav-container {
  position: relative;
}

.navbar-container {
  background: darkgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3em;
}

@media screen and (max-width: 1000px) {
  .navbar-container {
    display: none;
  }
}

.navbar-container #nav-link {
  color: white;
  font-size: 1em;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
  text-decoration: none;
}

.navbar-container #nav-link:hover {
  background-color: #f8a100;
}

.nav-container-hamburger {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 3rem 0;
  z-index: 2;
  background: white;
  -webkit-box-shadow: 0px 0px 50px 0px black;
          box-shadow: 0px 0px 50px 0px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.nav-container-hamburger #nav-link {
  font-size: 1.5em;
  background-color: #f8a100;
  color: white;
  padding: 1rem;
  text-decoration: none;
  margin-bottom: 0.3rem;
  border-radius: 20rem;
  width: 10rem;
  text-align: center;
}

.nav-container-hamburger button {
  position: absolute;
  right: 0;
  top: 0;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: none;
}
/*# sourceMappingURL=index.css.map */