.brochure-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brochure-info-container .brochure-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  width: 80%;
}

@media screen and (max-width: 1000px) {
  .brochure-info-container .brochure-grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

.brochure-info-container .brochure-grid-container .brochure-card {
  padding: 2rem;
}

.brochure-info-container .brochure-grid-container .brochure-card .brochure-card-container {
  width: 100%;
  border-radius: 2rem;
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .brochure-info-container .brochure-grid-container .brochure-card .brochure-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
}

.brochure-info-container .brochure-grid-container .brochure-card .brochure-card-container img {
  border-radius: 1.5rem;
  width: 25%;
  height: auto;
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 1000px) {
  .brochure-info-container .brochure-grid-container .brochure-card .brochure-card-container img {
    width: 40%;
  }
}

.brochure-info-container .brochure-grid-container .brochure-card .brochure-card-container .brochure-card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

@media screen and (max-width: 1000px) {
  .brochure-info-container .brochure-grid-container .brochure-card .brochure-card-container .brochure-card-details {
    width: 80%;
  }
}

.brochure-info-container .brochure-grid-container .brochure-card .brochure-card-container h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 0;
}

.brochure-info-container .brochure-grid-container .brochure-card .brochure-card-container span {
  color: white;
  font-size: 1rem;
}

.brochure-info-container .brochure-grid-container .brochure-card .brochure-card-container button {
  margin-top: 2rem;
  border: none;
  background: #f8a100;
  color: white;
  height: 3rem;
  width: 10rem;
  border-radius: 2rem;
}
/*# sourceMappingURL=index.css.map */