@import '../../styles/config.scss';

.footer-container {
	background: $primaryColor;
	height: 20rem;
	@include FlexCenter;
	flex-direction: column;
	color: white;

	nav {
		@include FlexCenter;
		flex-direction: column;

		#footer-link {
			font-size: 1.3em;
			margin-bottom: 10px;
			color: white;
			outline: 0;
			border: none;
			text-decoration: none;
			transition: color 100ms ease-in-out;
		}

		#footer-link:hover {
			color: black;
		}

	}
}