@import '../../styles/config.scss';

.newProduct-container {
	width: 100%;
	margin-bottom: 15rem;

	#newproduct-product-card{
		width: 100%;
		height: 30rem;
		@include FlexCenter;
		flex-direction: row;
		justify-content: space-evenly;
		background-color: white;

		@media screen and (max-width: 1000px) {
			flex-direction: column;
			height: 50rem;
		}
	
		.newProducts-info-container {
			@include FlexCenter;
			flex-direction: column;
			width: 25rem;
			text-align: left;
		}

		img {
			width: 20rem;
			height: auto;
		}

		h3 {
			width: 100%;
			text-align: left;
			font-size: 1.5rem;
		}
	}
}

.carousel .control-dots .dot{
	background-color: black;
}

.carousel.carousel-slider .control-arrow {
	background-color: white;
	// opacity: 0;
}

.carousel.carousel-slider .control-arrow:hover {
	background: rgba(0, 0, 0, 0.0);
}

.carousel .carousel-status {
	color: black;
}

.carousel .control-prev.control-arrow:before  {
	border-right: 12px solid black;
}

.carousel .control-next.control-arrow:before  {
	border-left: 12px solid black;
}