@import '../../styles/config.scss';

.newProduct-container {
	width: 100%;
	height: 20rem;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	overflow-y: hidden;
	@include ScrollBar(20px, $primaryColor, white);
	
	#newproduct-product-card{
		min-width: 20rem;
		@include FlexCenter;
		flex-direction: column;

	
		img {
			width: 90%;
			height: auto;
			border-radius: 1em;
		}

		h3 {
			width: 90%;
		}
	}
}